/* Remove this one since it's using ID and older grid style */
#project-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 30px;
    row-gap: 10px;
    padding: 10px 20px;
}



.projects-container {
    width: 85%;
    margin: auto;
    
}

.projects-container h2 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #0ff;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5),
                  0 0 20px rgba(0, 255, 255, 0.3),
                  0 0 30px rgba(0, 255, 255, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    padding-top: 20px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.projects-container h2 span {
    color: #f0f;
    text-shadow: 0 0 10px rgba(255, 0, 255, 0.5),
                 0 0 20px rgba(255, 0, 255, 0.3),
                 0 0 30px rgba(255, 0, 255, 0.1);
}

section.features {
    padding: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background-color: white;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

.feature-card {
    background: white;
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
}

.feature-card p {
    color: #333
}

.feature-icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #4ECDC4;
}
