#project-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px 20px;
}


.projects-container h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    color: #218838;
    padding-top: 20px;
}

