


.project-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#c1e9fa;
    
}

.projectPage-card {
    width: 60%;
    max-width: 100% ;

}
.project-description {
    padding: 20px;
    background-color:#c1e9fa;

}

.projectPage-image {
    width: 100%; /* Make the image fill the container's width */
    height: 400px; /* Maintain the aspect ratio of the image */
    object-fit: cover; /* Ensure the image covers the space without distortion */
    border-radius: 8px;
    display: block; /* Ensures no extra space under the image */
    margin-top: 2rem;
}

.project-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 15px;
}

h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    color: #555;
}

ul {
    padding-left: 20px;
}

li {
    font-size: 1rem;
    color: #333;
}

h3, p, ul {
    margin-bottom: 15px;
}

.project-info h3 {
    font-size: 14px; /* smaller size for date and status */
    color: gray;
    text-align: center;
    margin-top: 30px;
}

.pledges-section {
    margin-top: 30px;
}