.hero-section {
    height: 370px;
    background-image: url("../assets/images/Hero2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;    
}

.hero-content {
    max-width: 600px;
    padding: 20px;
}

/* body {
    background-color:#3757D0;
    background-image:radial-gradient(#81BCFF, #303391);
    background-size:100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:#fff;
    text-align:center;
  } */
  
  #rotate-words {
    
   
    padding: 5%;
    font-size:2.2em;
    text-transform:uppercase;
    font-size: 2rem;
    font-family: "Finger Paint", serif;
    text-shadow: 2px 2px #fe4f01;
    
  }
  
  
  #rotate-words div {
    margin-left: 50px;
   position:absolute;
   opacity:0;
   overflow:hidden;
   left:30vw;
   width:60vw;
   line-height:1em;
   animation: rotate-word 32s linear infinite 0s;
  }
  
  @keyframes rotate-word {
      0% { opacity: 0;  transform: translateX(0);filter:blur(10px);transform:scale(1.2)}
      3% { opacity: 1;  transform: translateX(0);filter:blur(0px);transform:scale(.9)}
      12% { opacity: 1; transform: translateX(0);filter:blur(0px);transform:scale(1)}
      16% { opacity: 0; transform: translateX(0);filter:blur(10px);transform:scale(1.2)}
      80% { opacity: 0}
      100% { opacity: 0}
  }

  #rotate-words div:nth-child(1) { animation-delay: 0s; }
#rotate-words div:nth-child(2) { animation-delay: 4s; }
#rotate-words div:nth-child(3) { animation-delay: 8s; }
#rotate-words div:nth-child(4) { animation-delay: 12s; }
  
  /* #rotate-words div:nth-child(2) { animation-delay: 4s}
  #rotate-words div:nth-child(3) { animation-delay: 8s}
  #rotate-words div:nth-child(4) { animation-delay: 12s} */
  /* #rotate-words div:nth-child(5) { animation-delay: 16s} */
  /* #rotate-words div:nth-child(6) { animation-delay: 20s}
  #rotate-words div:nth-child(7) { animation-delay: 24s}
  #rotate-words div:nth-child(8) { animation-delay: 28s} */
  
  @keyframes author {
      0% { opacity: 0;  transform: translateY(100px);filter:blur(10px);transform: scaleY(2)}
      20% { opacity:0; transform: translateY(200px);filter:blur(10px); transform: scaleY(2)}
      30% { opacity:1; transform: translateY(0);filter:blur(0px);transform: scaleY(1)}
      90% { opacity:1; transform: translateY(0);filter:blur(0px);transform: scaleY(.9)}
      100% { opacity:0; transform: translateY(0);filter:blur(10px);transform: scale(2)}
  }
/* h1 {
    font-size: 3rem;
    font-family: "Finger Paint", serif;
    text-shadow: 2px 2px #fe4f01;
    
} */

p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color:#ee8a2c;
    color:#ee8a2c;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background-color: #218838;
    color: white;
}
