/* General container styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 20px 30px;
    border: 1px solid #ddd;
    max-width: 400px;
    width: 100%;
    margin: 150px auto;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 0;
    position: relative;
    width: 100%;
}

.login-logo {
    width: 400px;
    height: auto;
    position: absolute;
    right: 50px;
    animation: float 6s ease-in-out infinite;
}

.login-logo img {
    max-width: 55%;
    height: auto;
    max-height: 65vh;
    animation: float 6s ease-in-out infinite;
}

.login-form {
    margin: 0 auto;
}

form h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(45deg, #0ff, #f0f);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
/* Form input fields */
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;

form button {
    margin-top: 15px;
}

form div {
    text-align: center;
    margin-top: 15px;
}

form a {
    color: aliceblue;
    text-shadow: 1px 1px rgb(107, 4, 4);
    text-decoration: none;
    font-size: 14px;
    
}

form a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;

/* Responsive design for smaller screens */
@media (max-width: 500px) {
    form {
        padding: 15px 20px;
    }

    form button {
        font-size: 14px;
        padding: 8px;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
