/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    
body {
    background: #0A0A0A;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: bold;
}
p {
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
button {
        background: linear-gradient(45deg, #0ff, #f0f);
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 50px;
        text-decoration: none;
        font-weight: 600;
        transition: all 0.3s ease;
        margin-top: 30px;
        cursor: pointer;
        /* width: 50%; */
      }
    
      .cta-link:hover {
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.5),
                   0 0 40px rgba(255, 0, 255, 0.3);
        transform: translateY(-3px);
      }

.project-container {
    position: relative;
    z-index: 2;
    background-color: #c1e9fa;
    padding: 2rem;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
}